.main-slider {
    .single-slide {
        position: relative;
        max-height: 70vh;

        img {
            @include w-h(100%, 100%);
        }

        .slide-overlay {
            position: absolute;
            top: 0;
            left: 0;
            @include w-h(100%, 100%);
            background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0.3) 100%);

            .slide-content {
                position: absolute;
                top: 25%;
                right: 0;
                width: 80%;
                border-top: 2px solid $primary-font-color;
                border-bottom: 2px solid $primary-font-color;
                padding: 7rem 7rem;
                background: linear-gradient(to right, rgba(29, 76, 112, 0.6), rgba(104, 63, 135, 0.6));
                color: white;
                animation: mainAnimation 3s ease-out;
                // timing-function delay iteration-count direction fill-mode;

                p {
                    font-size: 1.4rem;
                }
            }
        }
    }
}

// OWL CAROUSEL

.owl-theme {
    position: relative;

    .owl-dots {
        position: absolute;
        top: 90%;
        left: 45%;
        right: 45%;
        z-index: 100;
        display: flex;

        .owl-dot {
            display: inline-block;
            @include w-h(3rem, 3rem);
            text-align: center;
            border-radius: 4rem;
            background-color: transparent;
            transition: all 0.5s;
            color: $text-mute;

            &.active,
            &:hover {
                color: $text-light;

                span {
                    background-color: transparent;
                }
            }

            span {
                font-size: 1.8rem;
                background-color: transparent;
            }
        }
    }
}

// MARGUEE AREA

.latest-news {
    @include dis-alig-just-flexdir-g(flex, center);
    background-color: $btn-bg-color-hover;
    height: 8rem;

    &-title {
        flex-basis: 25%;
        text-align: right;
        padding-right: 2rem;
        font-size: 2rem;
        color: $text-mute;
    }

    &-content {
        flex-basis: 75%;
        background-color: $btn-bg-color;
        height: 100%;

        .news-ticker {
            @include dis-alig-just-flexdir-g(flex, center, space-between, $g: 30px);
            line-height: 8rem;

            p {
                color: $text-light;
                font-size: 1.4rem;
            }
        }
    }
}

// RECENT GAMES

.recent-games {
    .section-title {
        @include m-p(1rem 0, 1rem 0);
        width: 100%;
        text-align: center;

        h2 {
            font-size: 5rem;
        }
    }
    &-content {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: auto;
        grid-row-gap: 2rem;
        grid-column-gap: 3rem;
        grid-template-areas:
            "item-1 item-1 item-1 item-2"
            "item-3 item-4 item-5 item-6";

        .recent-game {
            @include w-h(100%, 100%);
            background-color: $btn-bg-color;

            $items: (1, 2, 3, 4, 5, 6);
            @each $item in $items {
                &-#{$item} {
                    grid-area: item- + $item;
                }
            }

            &-thumbnail {
                position: relative;
                overflow: hidden;

                img {
                    width: 100%;
                    transition: all 0.5s;
                }

                &::after {
                    position: absolute;
                    top: 0;
                    left: 0;
                    content: "";
                    background-color: rgba($light-bg-color, 0.3);
                    @include w-h(100%, 100%);
                    visibility: hidden;
                    opacity: 0;
                    transition: all 0.5s;
                }
            }

            &:hover,
            &:focus {
                .recent-game-thumbnail {
                    &::after {
                        visibility: visible;
                        opacity: 1;
                    }

                    img {
                        transform: scale(1.1) rotate(5deg);
                        transition: all 0.5s;
                    }

                    .rating {
                        opacity: 1;
                        transition: all 0.5s;
                    }
                }
            }

            &-content {
                padding: 2rem;

                p {
                    font-size: 1.3rem;
                    line-height: 1.8;
                    color: $text-mute;
                }

                .game {
                    &-title {
                        margin-bottom: 2rem;
                        transition: all 0.5s;

                        &:hover {
                            color: darken($text-light, 10%);
                        }
                    }

                    &-meta {
                        @include dis-alig-just-flexdir-g(flex, center, space-between);
                    }

                    &-date {
                        color: $date-color;
                        font-size: 1.6rem;

                        &:hover {
                            color: darken($date-color, 5%);
                        }
                    }

                    &-comment {
                        color: $comment-color;
                        font-size: 1.6rem;

                        &:hover {
                            color: darken($comment-color, 5%);
                        }
                    }
                }
            }
        }
    }
}
